mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
}

// vai organizar o layout em colunas orizontalmente
.column-flex {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.loding-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bababa;
}
