<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary">
            Detalhes do curso
        </mat-toolbar>

        <!-- formulario -->
        <!-- []="" atribui um valor a propriedade do elemento DOM que esta dentro dos [], nesse caso o valor
             atribuido a direita dos [] e avaliado como uma expressao dinaminca, nesse exemplo a propriedade
            formGroup esta recebendo o retorno da variavel coursesForm que esta no component, Sem os 
            colchetes, Angular trata o lado direito como uma string literal e define a propriedade para 
            esse valor estático ou seja nao iria receber o retorno da variavel coursesForm e sim a string 
            "coursesForm" -->
        <form [formGroup]="coursesForm" class="min-width">
            <!-- Form field do angular material -->
            <mat-form-field class="full-width">
                <mat-label> Nome </mat-label>
                <!--  formControlName vincula o input ao controle do formulario -->
                <!-- #name e uma variavel de referencia do template que esta fazendo referencia ao campo de 
                    input -->
                <input matInput formControlName="name" #name>
                <!-- com isso e possivel interpolar a quantidade de caracters digitada no input utilizando a 
                    varivel de referencia #name -->
                <mat-hint align="end">{{name.value.length}}/5</mat-hint>
                <!-- se o que foi digitado no campo name do template nao atender as validacoes definidas 
                    no campo name de coursesForm no component ele vai interpolar o metodo getErrorMessage 
                    passando a string 'name' como parametro, como o metodo getErrorMessage retorna uma string 
                    essa mensagem vai ser exibida no template, nesse caso em baixo do input -->
                <mat-error *ngIf="coursesForm.get('name')?.invalid">{{getErrorMessage('name')}}</mat-error>
            </mat-form-field>

            <!-- Select do angular material -->
            <mat-form-field class="full-width">
                <mat-label> Categoria </mat-label>
                <mat-select formControlName="category">
                    <!-- value="null" atribuiu um valor estatico um string a propriedade value -->
                    <mat-option value="null"></mat-option>
                    <mat-option value="Front-end"> Front-end </mat-option>
                    <mat-option value="Back-end"> Back-end </mat-option>
                </mat-select>
                <mat-error *ngIf="coursesForm.get('category')?.invalid">{{getErrorMessage('category')}}
                </mat-error>
            </mat-form-field>

            <!-- criado apenas para estudo do Basic select with initial value and no form  -->
            <h4>Basic mat-select with initial value</h4>
            <mat-form-field appearance="fill">
                <mat-label>Favorite Food</mat-label>
                <!-- mat-select é um controle de formulário para selecionar um valor de um conjunto de opcoes -->
                <!-- value e uma propriedade do mat-select -->
                <!-- [(value)]="selectedFood" esta fazendo uma vinculacao bidirecional a propriedade value
                     do mat-select, nesse caso a value recebe o valor retornado da variavel selectedFood do 
                     component, e fica escutando o evento no campo do mat-select para enviar esse
                 valor para a selectedFood do component -->
                <mat-select [(value)]="selectedFood">
                    <!-- value tambem e uma propridade do mat-option -->
                    <!-- nesse exemplo o valor recebido na value do mat-option [value]="option.valueFood", e
                         o valor que esta sendo interpolado no mat-option {{ option.viewValueFood }} estao 
                         vindo do array, como a value do mat-select foi inicilizada com um valor de 
                         selectedFood quando esse valor for igual ao valor interado no option.value ele vai
                         inserir no input o viewValue respectivo, resumindo e uma forma simples de iniciar o
                         campo com um valor ja predefinido -->
                    <mat-option [value]="option.valueFood" *ngFor="let option of foods">{{ option.viewValueFood }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- esta interpolando o valor da variavel selectedFood do component -->
            <p>You selected: {{selectedFood}}</p>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()"> SALVAR </button>
        <button mat-raised-button (click)="onCancel()"> CANCELAR </button>
    </mat-card-actions>
</mat-card>