<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary">
            Detalhes do curso
        </mat-toolbar>

        <!-- form tag hml utlizada para representar o formlario -->
        <form [formGroup]="coursesForm" class="min-width">
            <mat-form-field class="full-width">
                <mat-label> Nome </mat-label>
                <!-- #name e uma variavel local que esta fazendo referencia ao campo de input -->
                <input matInput formControlName="name" #name>
                <!-- com isso e possivel interpolar a quantidade de caracters digitada no input utilizando a 
                    varivel de referencia #name -->
                <mat-hint align="end">{{name.value.length}}/5</mat-hint>
                <!-- se o que foi digitado no campo name do template nao atender as validacoes definidas 
                    no campo name de coursesForm no component ele vai interpolar o metodo getErrorMessage 
                    passando a string 'name' como parametro, como o metodo getErrorMessage retorna uma string 
                    essa mensagem vai ser exibida no template, nesse caso em baixo do input -->
                <mat-error *ngIf="coursesForm.get('name')?.invalid">{{getErrorMessage('name')}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label> Categoria </mat-label>
                <mat-select formControlName="category">
                    <mat-option value="null"></mat-option>
                    <mat-option value="Front-end"> Front-end </mat-option>
                    <mat-option value="Back-end"> Back-end </mat-option>
                </mat-select>
                <mat-error *ngIf="coursesForm.get('category')?.invalid">{{getErrorMessage('category')}}
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()"> SALVAR </button>
        <button mat-raised-button (click)="onCancel()"> CANCELAR </button>
    </mat-card-actions>
</mat-card>