<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary">
            Detalhes do curso
        </mat-toolbar>

        <!-- formulario -->
        <!-- []="" atribui um valor a propriedade do elemento DOM que esta dentro dos [], nesse caso o valor
             atribuido a direita dos [] e avaliado como uma expressao dinaminca, nesse exemplo a propriedade
            formGroup esta recebendo o retorno da variavel coursesForm que esta no component, Sem os 
            colchetes, Angular trata o lado direito como uma string literal e define a propriedade para 
            esse valor estático ou seja nao iria receber o retorno da variavel coursesForm e sim a string 
            "coursesForm" -->
        <form [formGroup]="coursesForm" class="min-width">
            <!-- Form field do angular material -->
            <mat-form-field class="full-width">
                <mat-label> Nome </mat-label>
                <!--  formControlName vincula o input ao controle do formulario -->
                <!-- #name e uma variavel de referencia do template que esta fazendo referencia ao campo de 
                    input -->
                <input matInput formControlName="name" #name>
                <!-- com isso e possivel interpolar a quantidade de caracters digitada no input utilizando a 
                    varivel de referencia #name -->
                <mat-hint align="end">{{name.value.length}}/5</mat-hint>
                <!-- se o que foi digitado no campo name do template nao atender as validacoes definidas 
                    no campo name de coursesForm no component ele vai interpolar o metodo getErrorMessage 
                    passando a string 'name' como parametro, como o metodo getErrorMessage retorna uma string 
                    essa mensagem vai ser exibida no template, nesse caso em baixo do input -->
                <mat-error *ngIf="coursesForm.get('name')?.invalid">{{getErrorMessage('name')}}</mat-error>
            </mat-form-field>

            <!-- Select do angular material -->
            <mat-form-field class="full-width">
                <mat-label> Categoria </mat-label>
                <mat-select formControlName="category">
                    <!-- value="null" atribuiu um valor estatico um string a propriedade value -->
                    <mat-option value="null"></mat-option>
                    <mat-option value="Front-end"> Front-end </mat-option>
                    <mat-option value="Back-end"> Back-end </mat-option>
                </mat-select>
                <mat-error *ngIf="coursesForm.get('category')?.invalid">{{getErrorMessage('category')}}
                </mat-error>
            </mat-form-field>

            <mat-toolbar>
                <span>Aulas</span>
                <button mat-icon-button color="accent" (click)="addNewLesson()">
                    <mat-icon aria-label="Adicionar uma nova aula">add</mat-icon>
                </button>
            </mat-toolbar>

            <!-- mensagem de validacao do compo lessons -->
            <mat-error *ngIf="idFormArrayRequered()" class="form-array-error">Adicione pelo menos uma aula
            </mat-error>

            <!-- campo adicionar aulas -->
            <table style="width: 100%;" formArrayName="lessons"
                *ngFor="let lesson of getLessonsFormArray();let i = index">
                <tr [formGroupName]="i">
                    <td style="width: 65%;">
                        <mat-form-field class="full-width">
                            <mat-label> Nome da Aula </mat-label>
                            <input matInput formControlName="name">
                            <!-- como o campo e um array e necessario utilizar o indice para poder analizar o obseto -->
                            <mat-error *ngIf="getLessonsFormArray()[i].get('name')?.invalid">
                                Campo inválido.
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td style="width: 30%;">
                        <mat-form-field class="full-width">
                            <mat-label> URL </mat-label>
                            <span matPrefix>https://youtu.be/</span>
                            <input matInput formControlName="youtubeURL">
                        </mat-form-field>
                    </td>
                    <td style="width: 5%;">
                        <button mat-icon-button color="warn" (click)="deleteLesson(i)">
                            <mat-icon aria-label="Deletar uma nova aula">delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()"> SALVAR </button>
        <button mat-raised-button (click)="onCancel()"> CANCELAR </button>
    </mat-card-actions>
</mat-card>