<mat-table [dataSource]="coursesList">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <!-- element e uma variavel de input do template -->
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.category}}
            <mat-icon aria-hidden="false" aria-label="Categoria do curso">{{ element.category | category
                }}</mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <!-- sempre que for algo mais costumizavel, para ter mais controle sobre o conteudo que vai ser renderizado  
        agente utiliza <mat-header-cell *matHeaderCellDef></mat-header-cell no lugar do <th> e no lugar do <td> 
            agente utliziza <mat-cell *matCellDef="let element"> </mat-cell> -->
        <!-- como vai ser adicionado um botao no lugar de um texto devemos retirar o <th> dessa coluna, 
            e adicionar o component <mat-header-cell></mat-header-cell> e colocar o botao dentro dele -->
        <!-- como o botao de adicionar nao vai se repetir devemos adicionar o *matHeaderCellDef 
            indicado que o que esta dentro do <mat-header-cell *matHeaderCellDef></mat-header-cell> 
            e o cabecalho da coluna e nao vai se repetir -->
        <mat-header-cell *matHeaderCellDef class="action-column-header">
            <button mat-mini-fab color="primary" aria-label="Adicionar um curso" (click)="onAddCoursesList()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-header-cell>
        <!-- no lugar do <td> agente utliziza <mat-cell *matCellDef="let element"> </mat-cell> e adiciona os botoes 
            dentro -->
        <mat-cell *matCellDef="let element" class="action-column-Cell">
            <button mat-icon-button color="primary" aria-label="Editar um curso" (click)="onEditCoursesList(element)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Remover um curso" (click)="onDeleteCourseList(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>