// scroll da tabela
mat-table {
    // vai caucular automaticamente os espaço na tela
    overflow: auto;
    // se passar do tamanho maximo vai ser adicionado o scroll
    max-height: 600px;
}

// posicao do botao adicionar no header da coluna
.action-column-header {
    // joga tudo pra direita com 136px de espaço
    flex: 0 0 120px;
}

// posicao dos botoes edit e delete no body da coluna
.action-column-Cell {
    // joga tudo pra direita com 136px de espaço
    flex: 0 0 136px;
}